/* General Styles */
body {
    margin: 0px;
    background-color: #0a94c2;
}

/* Nav Styles */
nav {
    background-color: antiquewhite;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav p, nav a {}

nav a {
    color: #2c04b9;
    text-decoration: none;
}

nav a:hover {
    color: #b90407;
    text-decoration: none;
}

/* Footer Styles */
footer {
    background-color: antiquewhite;
    border-style: solid;
    display: flex;
    justify-content: center;
}

footer a {
    color: #2c04b9;
    text-decoration: none;
}

footer a:hover {
    color: #b9049e;
    text-decoration: none;
}

/* Splash Section */
.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Afacad Flux", serif;
    font-size: 50px;
    color: #3c3c3c
}

.splash h1 {
    font-family: "Afacad Flux", serif;
    font-size: 50px;
    color: #3c3c3c
}

.splash img {
    border: 2px #2c2c2c;
    border-radius: 25px;
}

.splash p {
    font-style: italic;
}

/* Horizontal Rules */
hr {
    border-color: rgba(255, 0, 221, 0.961);
    border-style: dashed;
}

/* Sections */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Section Headings */
section h2 {
    font-family: "Roboto", serif;
    font-size: 25px;
    color: #311e76;
}

/* Paragraph Styles */
.education {
    font-style: oblique;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
}

/* link styles */
section a {
    color: #2c04b9;
    text-decoration: none;
}
section a:hover {
    color: #b9049e;
    text-decoration: none;
}

/* List Styles */
ul {
    font-style: italic;
}

dl {
    display: grid;
    grid-template-columns: repeat(auto, 50px);
}
dl dt{}
dl dd{}

/* Project Section */
.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    border-style: solid;
    background-color: #b0f192;
    box-shadow: 0 4px 4px 0;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    border-style: solid;
    margin-top: 10px;
}

.card h3 {
    display: flex;
    justify-content: center;
}

/* Contact Page Styles */
.one-col {
    display: grid;
    grid-template-columns: 250px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    background-color: #0a14c2;
    color: white;
}

form input, form textarea {
    font-family: "Bona Nova SC", serif;
    background-color: #0a75c2;
    color: white;
    display: flex;
    justify-content: center;
}

form input:focus, form textarea:focus {}

form button {
    display: flex;
    justify-content: center;
    align-items: center;
}

form button:hover {
    background-color: #d2bbbb;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-items {
    display: flex;
    flex-direction: column;
    align-items:center
}
